.app__footer {
  display: flex;
  flex-direction: column;
  background: url('../../assets/bg.png');
  color: #fff;
  align-items: center;
  gap: 4rem;
  padding: 4rem;
  font-family: var(--font-base);
}
.app__footer--info {
  display: flex;
  /* gap:2rem; */
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
.app__footer--info-contact {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: fit-content;
  align-items: center;
}
.app__footer--info-contact h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: var(--color-crimson);
}
.app__footer--info-contact p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--color-grey);
  font-family: var(--font-alt);
}
.app__footer--info-gericht {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.4rem;
}
.app__footer--info-gericht h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: var(--color-golden);
}

.app__footer--info-gericht-icons {
  display: flex;
  gap: 1rem;
}
.app__footer--info-hours {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.app__footer--info-hours h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: var(--color-crimson);
}
.app__footer--info-hours-day {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.app__footer--info-hours-day p,
.app__footer--copyRight,
.app__footer--info-gericht p {
  font-size: 16px;
  font-family: var(--font-alt);
  font-weight: 400;
  line-height: 28px;
}
.app__footer--copyRight{
    color:var(--color-grey)
}

@media screen and (width<1100px) {
    .app__footer--info{
        flex-direction: column;
        row-gap: 3rem;
    }
}